body {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 16pt;
    background-color: #33533E;
    background-image: url("../img/arabesque.png");
}

.info {
    background-color: #FFFEEF;
    padding: 2%;
    border-style: solid;
    border-color: #842720;
    border-radius: 10px;
    border-width: 5pt;
}

.instructions {
    background-color: #FFFEEF;
    padding: 2%;
    border-style: solid;
    border-color: #842720;
    border-radius: 10px;
    border-width: 5pt;
    margin-bottom: 20px;
}

.jumbotron {
    background-color: #842720;
    padding: 2%;
    text-align: center;
}

.jumbotron h1, h2 {
    color: #FFFFF4;
}